- var slidel = 'slide' + val
- var islidel = 'islide' + val
.col
    .card.iv-card
        .card-header.bg-primary.text-white
            if val == 1
                | Slide #{val} : Welcome
            if val == 2
                | Slide #{val} : Meet the team
            if val == 3
                | Slide #{val} : Meet the team
            if val == 4
                | Slide #{val} : Logo 620x220
        .card-body
            - var key = 'file_4Slide_' + val
            - var obj = docs[0]
            img.rounded-3.pimg(src=obj[key] id=slidel)
        .card-footer
            .d-grid
                label.btn.btn-info.text-white(for=islidel) Change Image
                input.form-contol(onchange='image4Slide(this);' type='file' accept='image/*' style='visibility: hidden; display: none;' sid=slidel id=islidel)