div.tempcard
    .card.iv-card.shadow
        label.card-header.bg-primary.text-white.form-label(for=dvtext)
            if val == 1
                | Meeting Title
            if val == 2
                | Meeting Subtitle
            if val == 3
                | Slide 2 Text
            if val == 4
                | Slide 3 Text
        .card-body
            - var key = 'text_template_4Slide_' + val
            input.form-control.my-1(onchange='upload_text(this);' value=docs[key] id=key sub=sub)
            .text-center
                .spinner-grow.text-primary.d-none(style="width: 42px; height: 42px;" role='status' id=key + '_spin')
