div.tempcard
    .card.iv-card.shadow
        label.card-header.bg-primary.text-white.form-label(for=dvtext)
            if val == 2
                | Speaker 1 Bio
            if val == 4
                | Speaker 2 Bio
        .card-body
            - var key = 'text_template_SS_' + val
            textarea.form-control.my-1(rows='6' onchange='upload_text(this);' id=key sub=sub) #{docs[key]}
            .text-center
                .spinner-grow.text-primary.d-none(style="width: 162px; height: 162px;" role='status' id=key + '_spin')
